._6_62,._6_6j{border-radius:50%;display:block}._6_62{background-color:#3578e5;cursor:pointer;height:8px;width:8px}._6_6j{background-color:#fff;border:2px solid;border-color:#bec3c9;height:4px;width:4px}

#bootloader_PGROp{height:42px;}.bootloader_PGROp{display:block!important;}